<p id="notice"><%= notice %></p>

<h1>Gomokus</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gomokus.each do |gomoku| %>
      <tr>
        <td><%= gomoku.data %></td>
        <td><%= link_to 'Show', gomoku %></td>
        <td><%= link_to 'Edit', edit_gomoku_path(gomoku) %></td>
        <td><%= link_to 'Destroy', gomoku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gomoku', new_gomoku_path %>
